/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/
.DS_Store
.rustls_acme_cache/
.terraform*
terraform.tfstate*
.itsi.pid
sandbox/itsi_file/public
sandbox/itsi_file/spa
