<div class="dashboard">
  <div class="card">
    <h1>Welcome to Article CRUD</h1>
    <p>Get started by managing your articles:</p>
    <%= link_to "ðŸ“ View Articles", articles_path, class: "btn" %>
    <%= link_to "âž• New Article", new_article_path, class: "btn secondary" %>
  </div>
</div>
